/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.brand img{
    width:74px;
}
.navbar ul{
    font-size: 15px;
}
li .active{
    color:rgb(11, 11, 66);
}
.list-top h5{
    color:#007bff;
}
.services{
    background-color: #fff;
    // border: 1px solid rgba(0,0,0,0.15);
    // box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
}
.headline h1{
    font-family:'Open Sans',sans-serif!important;
}
dd{
    color:#666;
    margin-left: 9px;
    margin-bottom: 0px!important;
    font-size: 14px;
}
form.filter{
    width:20%;
    padding:10px;
}
